<!DOCTYPE html>
<html>
<head>
  <title>Credit Card Analysis</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="content">
  <h1>Welcome to ABCD Bank!</h1>
  <h2>Validate now your credit card!</h2>
  Quantity credit cards (between 0 and 100): <input type="text" id="quantity" name="quantity" placeholder="Quantity credit cards (between 0 and 100)"> <button id="go">Go</button><br>
  <div id="form"></div>

  <h2>Validate by file (.txt)</h2>
  Upload file: <form id="#uploadForm" enctype="multipart/form-data"><input type="file" name="file" /><button id="go-file">Go</button></form>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

<script type="text/javascript">

  // create elements input text
  $('#go').click(function (argument) {
    var qtd = $('#quantity').val();
    if(qtd < 0 || qtd > 100) {
      alert('Please enter a number between 0 and 100.')
    }else{
      $('#form').html('');
      for(var i=0; i<qtd; i++){
        $('<input/>').attr({ type: 'text', id: 'creditcard'+i, name: 'creditcard'+i, placeholder: 'Enter your number of credit card', class: 'credit-card'}).appendTo('#form');
        $('<br>').appendTo('#form');
      }
    }
  });
  
  // keyup input text to validate a credit card
  $('#form').on('keyup', 'input', function() {
    var x = $(this);
    $.post( "/validate", { creditcard: $(this).val() }, function( data ) {
      if(data.valid){
        x.css('border', '3px solid green');
      }else{
        x.css('border', '3px solid red');
      }
    });
  });

</script>
</body>
</html>